numpy==1.26.3
pandas==2.2.0
AutoROM==0.4.2
AutoROM.accept-rom-license==0.6.1
pygame==2.5.2
gym==0.26.2
ipykernel==6.29.2
ipython==8.21.0
jupyter_client==8.6.0
jupyter_core==5.7.1
matplotlib==3.8.3
#in case of GPU availability, uncomment tensorflow-gpu and comment tensorflow
#tensorflow-gpu==2.10.0
tensorflow==2.16.1
tensorboard==2.10.1
tqdm==4.66.2
